<!--navigation bar
<div class="navbar navbar-default">
  <div class="container Fluid">
      </div>
      <ul class="nav">
        <li><b>TrulyCourse</b></li>
        <li style="float:right"><a routerLink="logout" >Logout </a>
      </ul>
      </div> -->

      <div class="navbar navbar-default">
        <div class="container Fluid">
            </div>
            <ul class="nav">
              <li><b>TrulyCourse</b></li>
              <li style="float:right"><a href="/logout" class="active" >Logout </a>
            </ul>
            </div>
        
<!--search bar-->
<div id="userHome">
<div class="box">
  <input type="text" id="searchBox" placeholder="Type here to search" size="80">
  <button id="searchButton">Search</button>
</div>

<!--grid part-->
<div class="row">
  <div class="column">
    <div class="book">
      <a href="/angular">
      <img src="./../assets/image/angularimg.png">
      <h3>Angular</h3>
      <p>2020</p>
      <p>Front-End Technology</p>
      </a>
    </div>
  </div>

  <div class="column">
    <div class="book">
      <a href="/react">
      <img src="./../assets/image/react-logo.jpg">
      <h3>React</h3>
      <p>2021</p>
      <p>Front-End Technology</p>
    </a>
    </div>
  </div>
  
  <div class="column">
    <div class="book">
      <a href="/nodejs">
      <img src="./../assets/image/nodejs.png">
      <h3>Node Js</h3>
      <p>2020</p>
      <p>Back-End Technology</p>
      </a>
    </div>
  </div>
  
  <div class="column">
    <div class="book">
      <a href="/mongodb">
      <img src="./../assets/image/mongo.png">
      <h3>Mongo DB</h3>
      <p>2019</p>
      <p>Back-End Technology</p>
    </a>
    </div>
  </div>
</div>
</div>


